/* general styling */

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f;
    margin:0;
    padding:150px;
}
.resume-container {
    display:flex;
    background-color:pink;
    width:50%;
    margin:0 auto;
    border-radius:15px;
    box-shadow:0 0 20px rgba(0.0.0.1);
}
.profile-pic{
    width:150px;
    height:150px;
    margin-top:20px;
    margin-left:80px;
    margin-right:80px;
    border-radius:50%;
    border:5px solid #e66946
}
/* left section styling */
.left-section{
    border-right:5px solid #e66946;
    background-color:#4c3c8c;
    color:white;
    padding: 20px;
    width:2970px;
    text-align:center;



}
h3{
    font-size:20px;
    padding:2%;
    margin:20px 0 10px;
    background-color:#000;
    color:black;
    border-radius:20px;
    box-shadow:0 0 15px #e66946;
    margin-top-5%;
    margin-bottom:5%;
    text-align:center;
}
p {
    padding-left: 20px;
    
}
.right-section{
    width:2950px;
    background-color:#4c8c3c;
    color:white;
    padding:10px
}
ul li{
    margin:5px 0;

}
.toggle {
    padding:10px;
    margin:5px;
    border-radius:15px;

}
button:hover{
    background-color:orange;
    font-size:18px;
    cursor:pointer;
}